[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==1.5.1"
tqdm = "==4.64.0"
matplotlib = "==3.5.2"
osmnx = "==1.1.2"
geopandas = "==0.10.2"
pyarrow = "==8.0.0"
fastparquet = "==2022.11.0"
appnope = "==0.1.3"
asttokens = "==2.0.5"
attrs = "==21.4.0"
backcall = "==0.2.0"
certifi = "==2023.7.22"
charset-normalizer = "==2.0.12"
click = "==8.1.3"
click-plugins = "==1.1.1"
cligj = "==0.7.2"
cramjam = "==2.5.0"
cycler = "==0.11.0"
decorator = "==5.1.1"
executing = "==0.8.3"
fiona = "==1.8.21"
fonttools = "==4.33.3"
fsspec = "==2022.5.0"
idna = "==3.3"
ipython = "==8.3.0"
jedi = "==0.18.1"
kiwisolver = "==1.4.2"
matplotlib-inline = "==0.1.3"
munch = "==2.5.0"
networkx = "==2.8.2"
numpy = "==1.22.4"
packaging = "==21.3"
parso = "==0.8.3"
pexpect = "==4.8.0"
pickleshare = "==0.7.5"
pillow = "==10.0.1"
prompt-toolkit = "==3.0.29"
ptyprocess = "==0.7.0"
pure-eval = "==0.2.2"
pygments = "==2.15.0"
pyparsing = "==3.0.9"
pyproj = "==3.3.1"
python-dateutil = "==2.8.2"
pytz = "==2022.1"
requests = "==2.31.0"
rtree = "==1.0.0"
shapely = "==1.8.2"
six = "==1.16.0"
stack-data = "==0.2.0"
traitlets = "==5.2.1.post0"
urllib3 = "==1.26.17"
wcwidth = "==0.2.5"
contourpy = "==1.0.6"
keras = "==2.11.0"

[dev-packages]
commitizen = "*"
black = "*"
pipenv = "*"
pytest = "*"
interrogate = "*"
flake8 = "*"
mypy = "*"
pre-commit = "*"

[requires]
python_version = "3.9"
